global:
  scrape_interval: 15s  # How frequently to scrape targets
  evaluation_interval: 15s  # How frequently to evaluate rules

scrape_configs:
  - job_name: 'cadvisor'
    static_configs:
      - targets:
        - cadvisor:8080
 
  - job_name: 'node-exporter'
    static_configs:
      - targets: 
        - node-exporter:9100
